<section class="page-section clearfix">
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <!-- <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                      <li data-target="#demo" data-slide-to="2"></li>
                    </ul> -->

            <!-- The slideshow -->
            <h2 style="text-align: center; color: #fff!important">
                Palco
            </h2>
            <p></p>
            <div class="carousel-inner" style="text-align: center;">

                <div class="carousel-item active">
                    <img src="../../assets/img/evento/palcos/CATALOGO1.jpg" alt="palcos">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/evento/palcos/CATALOGO2.jpg" alt="palcos2">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/evento/palcos/CATALOGO3.jpg" alt="palcos3">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/evento/palcos/CATALOGO4.jpg" alt="palcos4">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/evento/palcos/CATALOGO5.jpg" alt="palcos5">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>
</section>