<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Entre em contato conosco!</span>
              <span class="section-heading-lower">Nossos canais</span>
            </h2>
            <p>Envie uma mensagem direta para o nosso Whatsapp<a
                href="https://api.whatsapp.com/send?phone=5516991042398" target="_blank"><img class="social-media"
                  src="../../assets/img/whatsapp.svg">
              </a>
            </p>
            <p>Curta a nossa página no facebook<a
                href="https://www.facebook.com/Marsch-Loca%C3%A7%C3%B5es-205389016632042/" target="_blank"><img
                  class="social-media" src="../../assets/img/facebook.svg">
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>