<section class="page-section clearfix">
    <div class="container">
        <h2 style="text-align: center; color: #fff!important">
            BANHEIROS
        </h2>
        <p style="text-align: center; color: #fff!important"> 
        Feito a partir de fibra de vidros, nossos módulos podem ser levado até sua obra, a única necessário ligações de agua e esgoto no modulo.
        </p>
        <!-- <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6">
                <img style=" width: 500px;height: 500px;" src="../../../assets/img/construcao/banheiros/banheiro1.jpg">
            </div>
            <div style="margin-top: 10px;color: whitesmoke;" class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <div id="carouselSlide" class="carousel slide" data-ride="carousel" style="margin-top: 90px;">
                    <div class="carousel-inner" style="text-align: center;">
                        <div *ngFor="let image of _albums; let i=index" class="carousel-item active"
                            [ngClass]="{'active': i == 0}">
                            <img class="img-thumbnail img-fluid" [src]="image.thumb" alt="banheiro1"
                                (click)="open(i)">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselSlide" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselSlide" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</section>