<section class="page-section clearfix">
    <div class="container">
        <h2 style="text-align: center; color: #fff!important">
            BANHEIROS DE LUXO
        </h2>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6">
                <img style=" width: 500px;height: 500px;" src="../../../assets/img/evento//banheiros/banheiro2.jpg">
            </div>
            <div style="margin-top: 10px;color: whitesmoke;" class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <p>Possuímos também módulos metálicos de luxo, para eventos temporários, possuindo a necessidade de ligação de agua, esgoto e energia. No seu interior possuindo cabines em mdf, torneiras por sensor, saboneteira e ar condicionado.
                </p>
                <pre style="color: whitesmoke;">
Modulo de luxo Feminino
Modulo de luxo Masculino
Modulo de luxo Misto      
    Masculino:
        3 mictórios, 1 cabine e 2 lavatórios
    Feminino:
        3 cabines e 2 lavatórios
                </pre> 
                <div id="carouselSlide" class="carousel slide" data-ride="carousel" style="margin-top: 90px;">
                    <div class="carousel-inner" style="text-align: center;">
                        <div *ngFor="let image of _albums; let i=index" class="carousel-item active"
                            [ngClass]="{'active': i == 0}">
                            <img class="img-thumbnail img-fluid" [src]="image.thumb" alt="banheiro1"
                                (click)="open(i)">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselSlide" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselSlide" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>