<section class="page-section clearfix">
    <div class="container">
        <h2 style="text-align: center; color: #fff!important">
            ANDAIME
        </h2>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6">
                <img style=" width: 500px;height: 500px;" src="">
            </div>
            <div style="margin-top: 10px;color: whitesmoke;" class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                O andaime fachadeiro é composto por diversas plataformas de trabalho, permitindo assim que haja livre
                circulação dos operários nos diversos níveis do empreendimento.<p></p>
                São necessários para execução de fachadas em obras que tenham a elevação maior que 4m do solo.<p></p>
                É utilizado na fase de alvenaria e acabamento da obra, principalmente para fazer o revestimento e a
                manutenção predial.
                <div id="carouselSlide" class="carousel slide" data-ride="carousel" style="margin-top: 90px;">
                    <div class="carousel-inner" style="text-align: center;">
                        <div *ngFor="let image of _albums; let i=index" class="carousel-item active"
                            [ngClass]="{'active': i == 0}">
                            <img class="img-thumbnail img-fluid" [src]="image.thumb" alt="escoramento1"
                                (click)="open(i)">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselSlide" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselSlide" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>