<section class="page-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <!-- The slideshow -->
                    <h2 style="text-align: center; color: #fff!important">
                        ESCORAMENTO
                    </h2>
                    <p></p>
                    <div class="carousel-inner" style="text-align: center;">

                        <div class="carousel-item active">
                            <img style="width: 550px;height: 450px;"
                                src="../../assets/img/construcao/escoramento/CATALOGO1.jpg" alt="escoramento1">
                        </div>
                        <div class="carousel-item">
                            <img style="width: 550px;height: 450px;"
                                src="../../assets/img/construcao/escoramento/CATALOGO2.jpg" alt="escoramento2">
                        </div>
                        <div class="carousel-item">
                            <img style="width: 550px;height: 450px;"
                                src="../../assets/img/construcao/escoramento/CATALOGO3.jpg" alt="escoramento3">
                        </div>
                        <div class="carousel-item">
                            <img style="width: 550px;height: 450px;"
                                src="../../assets/img/construcao/escoramento/CATALOGO4.jpg" alt="escoramento4">
                        </div>
                        <div class="carousel-item">
                            <img style="width: 550px;height: 450px;"
                                src="../../assets/img/construcao/escoramento/CATALOGO5.jpg" alt="escoramento5">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
            <div style="margin-top: 50px;color: whitesmoke;" class="col-sm">
                escoramento
            </div>
        </div>
    </div>
</section>