<body>
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <!-- <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../assets/img/empresa.jpg" alt="" /> -->
        <video class="intro-img img-fluid mb-3 mb-lg-0 rounded" width="320" height="240" controls>
          <source src="../../assets/video/covid19.mp4" type="video/mp4">
        </video>
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">A Empresa</span>
          </h2>
          <p class="mb-3">
            Marsch Locações é uma empresa fundada em 2002, no interior do estado de São Paulo, na cidade de Araraquara, atuamos com eficiência na locação e venda desses produtos.
O investimento em aperfeiçoamento é uma constante na Marsch, estamos sempre em busca de inovações nos principais mercados da construção.
          </p>
          <div class="intro-button mx-auto">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">O Que Oferecemos</span>
              <span class="section-heading-lower">Para Você</span>
            </h2>
            <p class="mb-0">
              Fornecemos equipamentos para construção civil (escoramentos e andaimes), locação e fabricação de módulos metálicos e locação de sanitários de luxo para eventos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>