<body>
  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Marsch Locações</span>
    <span class="site-heading-lower">Locações de banheiros e estrututas</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a
        class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"
        href="#"
        >Start Bootstrap</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded"
              >Sobre Nós
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded">Construções</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded">Eventos</a>
          </li>

          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" h>Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img
          class="intro-img img-fluid mb-3 mb-lg-0 rounded"
          src="../assets/img/logo.jpg"
          alt=""
        />
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">A Empresa</span>
          </h2>
          <p class="mb-3">
            Empresa do segmento de aluguel de banheiros e estruturas para
            eventos. Empresa no ramo desde XXXX, pioneira em locações em
            Araraquara. Lorem Ipsulum teste de texto aqui vai ter um texto sobre
            a empresa.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Entre em contato!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">O Que Oferecemos</span>
              <span class="section-heading-lower">Para Você</span>
            </h2>
            <p class="mb-0">
              Os melhores banheiros e estruturas, tudo revisado antes e após os
              eventos. Itens com as melhroes qualidade do mercado.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
